<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
 "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
 "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
    	<mapping class="com.Madeleine.Entity.Madeleine" />
    	<mapping class="com.Madeleine.Entity.MadeleinePhoto" />
    	<mapping class="com.Madeleine.Entity.User" />
    	<mapping class="com.SB.entity.Board"/>
    	<mapping class="com.TravelTape.Entity.Tape"/>
    	<mapping class="com.TravelTape.Entity.TapeContents"/>
    	<mapping class="com.TravelTape.Entity.TravelTapeUser"/>
    	<mapping class="com.Facebook.FacebookInfo" />
  	</session-factory>
</hibernate-configuration>
